
<body class="mx-8 mt-28 ">
  <span class="flex flex-row justify-between items-center">
    <h1 class="text-2xl font-bold">Teacher's Dashboard</h1>   
  <a href="/teacher/portal" class="mt-4 font-bold underline text-blue-500 hover:text-blue-600">
    Logout
  </a>

  </span>
  
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">
    <a href="/teacher/addresult">Add Result</a>
  </button>


  <% if (results && results.length > 0) { %>
    <% results.forEach((result) => { %>
      <div class="mt-4 border border-gray-300 p-4 rounded">
        <!-- Display result information -->
        <p class="mb-2"><strong>Roll Number:</strong> <%= result.rollNumber %></p>
        <p class="mb-2"><strong>Date of Birth:</strong> <%= result.dob %></p>
        <p class="mb-2"><strong>Name:</strong> <%= result.name %></p>
        <p class="mb-2"><strong>Total Score:</strong> <%= result.totalScore %></p>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          <a href="/teacher/edit/<%= result.rollNumber %>">Edit</a>
        </button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          <a href="/teacher/delete/<%= result.rollNumber %>">Delete</a>
        </button>
      </div>
      <hr class="my-4">
    <% }) %>
  <% } else { %>
    <p>No results found</p>
  <% } %>
 
</body>


<!-- <!DOCTYPE html>
<html>
<head>
  <title>Teacher Dashboard</title>
  <button><a href="/teacher/addresult">Add Result</a></button>
</head>
<body>
  <h1>Teacher Dashboard</h1>
  <% if (results && results.length > 0) { %>
    <% results.forEach((result) => { %>
      <div>
       
        <p>Roll Number: <%= result.rollNumber %></p>
        <p>Date of Birth: <%= result.dob %></p>
        <p>Name: <%= result.name %></p>
        <p>Total Score: <%= result.totalScore %></p>
        <button><a href="/teacher/edit/<%= result.rollNumber %>">Edit</a></button>
        
        <button><a href="/teacher/delete/<%= result.rollNumber %>">Delete</a></button>
        
      </div>
      <hr>
    <% }) %>
  <% } else { %>
    <p>No results found</p>
  <% } %>
</body>
</html> -->
