<!DOCTYPE html>
<html>
<head>
  <title>Teacher Dashboard</title>
  <button><a href="/teacher/addresult">Add Result</a></button>
</head>
<body>
  <h1>Teacher Dashboard</h1>
  <% if (results && results.length > 0) { %>
    <% results.forEach((result) => { %>
      <div>
        <!-- Display result information -->
        <p>Roll Number: <%= result.rollNumber %></p>
        <p>Date of Birth: <%= result.dob %></p>
        <p>Name: <%= result.name %></p>
        <p>Total Score: <%= result.totalScore %></p>
        <button><a href="/teacher/edit/<%= result.rollNumber %>">Edit</a></button>
        
        <button><a href="/teacher/delete/<%= result.rollNumber %>">Delete</a></button>
        
      </div>
      <hr>
    <% }) %>
  <% } else { %>
    <p>No results found</p>
  <% } %>
</body>
</html>
