<body class="bg-bg mt-12">
    <h1 class="text-2xl font-bold mb-4">Roll Number Details</h1>
    <h1 class="text-xl font-bold flex justify-center my-5"><%= marks.name %>'s Result</h1>
    <div class="max-w-sm bg-white shadow-md rounded-md p-4 mx-auto">
      <div class="flex items-center justify-center">
        <img class="rounded-full w-20 h-20 mb-4" src="<%= `https://www.gravatar.com/avatar/${Math.floor(Math.random() * 1000)}?s=200&d=robohash` %>" alt="Avatar" />
      </div>
      <p><strong class="font-bold">Roll Number:</strong> <%= marks.roll %></p>
      <p><strong class="font-bold">Name:</strong> <%= marks.name %></p>
      <p><strong class="font-bold">Date of Birth:</strong> <%= marks.dob.getDate().toString().padStart(2, '0') %> <%= marks.dob.toLocaleString('default', { month: 'short' }) %> <%= marks.dob.getFullYear().toString() %>
      </p>
      <p><strong class="font-bold">Total Score:</strong> <%= marks.totalScore %></p>
      <a href="/teacher/dashboard" class="mt-4 font-bold underline text-blue-500 hover:text-blue-600">
        Back
      </a>
     
    </div>
    
  </body>
  