<!DOCTYPE html>
<html>
<head>
  <title>Roll Number Details</title>

</head>
<!-- <body>
  <h1>Roll Number Details</h1>
  <div class="details">
    <p><strong>Roll Number:</strong> <%= rollNumberDetails.roll %></p>
    <p><strong>Name:</strong> <%= rollNumberDetails.name %></p>
    <p><strong>Total Score:</strong> <%= rollNumberDetails.totalScore %></p>
  </div>
</body> -->
<body class="bg-bg">
    <h1 class="text-2xl font-bold mb-4">Roll Number Details</h1>
    <div class="max-w-sm bg-white shadow-md rounded-md p-4 mx-auto">
      <p><strong class="font-bold">Roll Number:</strong> <%= rollNumberDetails.roll %></p>
      <p><strong class="font-bold">Name:</strong> <%= rollNumberDetails.name %></p>
      <p><strong class="font-bold">Total Score:</strong> <%= rollNumberDetails.totalScore %></p>
    </div>
  </body>
</html>
