
<body class="bg-bg mt-12">
    <h1 class="text-2xl font-bold mb-4">Roll Number Details</h1>
    <h1 class="text-xl font-bold flex justify-center my-5">Welcome, <%= rollNumberDetails.name %></h1>
    <div class="max-w-sm bg-white shadow-md rounded-md p-4 mx-auto">
      <p><strong class="font-bold">Roll Number:</strong> <%= rollNumberDetails.roll %></p>
      <p><strong class="font-bold">Name:</strong> <%= rollNumberDetails.name %></p>
      <p><strong class="font-bold">Date of Birth:</strong> <%= rollNumberDetails.dob %>
      </p>
      <p><strong class="font-bold">Total Score:</strong> <%= rollNumberDetails.totalScore %></p>
      
    </div>
  </body>
